<h4 class="card-title">Bienes disponibles</h4>
<div class="card card-block">
	<div class="form-group">
    <div style="text-align:center">
		  <img src="https://tse3.mm.bing.net/th?id=OIP.ky0eLyIjt23tf77G6_7F4gHaE8&pid=Api" alt="Imagen 1"
    width="150" height="100">
    </div>
    <h6>Detalles</h6>
    <h6>Aqui va una información básica del bien</h6>
  </div>
  <button type="button" class="btn btn-primary">Ver</button>
</div>
<div class="card card-block">
  <div class="form-group">
    <div style="text-align:center">
		  <img src="https://tse1.mm.bing.net/th?id=OIP.TpA7ODyksxVMuhkUQo24_QHaFi&pid=Api" alt="Imagen 1"
    width="150" height="100">
    </div>
    <h6>Detalles</h6>
    <h6>Aqui va una información básica del bien</h6>
    <button type="button" class="btn btn-primary">Ver</button>
  </div>
</div>
<div class="card card-block">
  <div class="form-group">
    <div style="text-align:center">
		  <img src="https://tse2.mm.bing.net/th?id=OIP.UG7yuSzS4ENALlZB8gJvbAHaFw&pid=Api" alt="Imagen 1"
    width="150" height="100">
    </div>
    <h6>Detalles</h6>
    <h6>Aqui va una información básica del bien</h6>
    <button type="button" class="btn btn-primary">Ver</button>
  </div>
</div>