<h4 class="card-title">Registrar un nuevo Inmueble</h4>
<div class="card card-block">
	<div class="form-group">
		<img src="image.jpg" alt="Imagen 1">
    <h6>Area</h6> 
    <input type="text" class="form-control" placeholder="Area mts²">
    <h6>Ubicación</h6> 
    <input type="text" class="form-control" placeholder="CR ** # ** - **">
    <h6>Estrato</h6> 
    <select name="Estrato">
      <option value="1">1</option> 
      <option value="2">2</option> 
      <option value="3">3</option>
      <option value="4">4</option> 
      <option value="5">5</option> 
      <option value="6">6</option> 
    </select>
    <h6>Valor</h6> 
    <input type="number" class="form-control" placeholder="$ COP">
  </div>
  <button type="button" class="btn btn-primary">Aceptar</button>
  <button type="button" class="btn btn-primary">Cancelar</button>
</div>