<h4 class="card-title">Información Inmueble</h4>
<div class="card card-block">
	<div class="form-group">
    <div style="text-align:center">
		  <img src="https://tse3.mm.bing.net/th?id=OIP.ky0eLyIjt23tf77G6_7F4gHaE8&pid=Api" alt="Imagen 1"
    width="350" height="250">
    </div>
    <h6>Area: (area del inmueble)</h6>
    <h6>Ubicación: ("CR ** # ** - **")</h6> 
    <h6>Estrato: (Estrato del inmueble)</h6> 
    <h6>Valor: ($ COP)</h6> 
  </div>
  <button type="button" class="btn btn-primary">Aceptar</button>
  <button type="button" class="btn btn-primary">Cancelar</button>
</div>